<!DOCTYPE html>
<html ng-app="optionsApp" ng-csp>
	<head>
		<script src="../../js/libs/angular.min.js"></script>
		<script src="options.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Purrification Options</title>
	</head>
	<body ng-controller="OptionsCtrl">
		<div class="nesugalvojau_dar">
			<h2>Tumblr Purrification</h2>
			<h3>Version: {{version}}</h3>
			<br>
			<input id="hide_notifs" type="checkbox" ng-model="hide_notifs"><label for="hide_notifs">Hide regular notifications (main dashboard only)</label>
			<br>
			<input id="show_purr_notifs" type="checkbox" ng-model="show_purr_notifs"><label for="show_purr_notifs">Show notifications from Purrification (about blocked posts)</label>
			<br>
			<input id="nofilter" type="checkbox" ng-model="nofilter"><label for="nofilter">Disable main dashboard filtering functionality. (Try this if Purrification causes problems due to Tumblr updates)</label>
		</div>
		<div class="users">
			<h2>List of blogs</h2>
			<div class="find_box">Find: <input ng-model="query" ng-init="query=''"></div>
			<ul>
				<li class="user" ng-repeat="user in users | filter:{username : query}">
					<span ng-class="user.not_found | notFoundClass">{{user.username | shortenToChars:20}}</span>
					<div class="user_edit">
						<input id="block_{{user.username}}" class="blockbox" type="checkbox" ng-model="user.blocked">
						<label class="blocklabel" for="block_{{user.username}}">
							<span ng-hide="user.blocked">block</span>
							<span ng-hide="!user.blocked"><b>blocked</b></span>
						</label>
						<button title="remove user" class="removebutton" confirmed-click="removeUser(user.username)" confirm-click="user.username">remove</button>
					</div>
				</li>
				<li class="user">
					<span class="span_link" ng-click="hideNewUser = !hideNewUser" ng-init="hideNewUser = true" ng-hide="!hideNewUser">+Add</span>
					<span ng-hide="hideNewUser">
						<input type="text" ng-model="newUser">
						<button ng-click="addUser(); hideNewUser = !hideNewUser">Add</button>
					</span>
				</li>
			</ul>
		</div>
		<div class="dashboards">
			<div class="nesugalvojau_dar">
				<h2>Dashboards</h2>
				<span class="span_link" ng-click="hideNewDash = !hideNewDash" ng-init="hideNewDash = true">+Dashboard</span>
			</div>
			<div ng-hide="hideNewDash">
				<input type="text" ng-model="newDashName">
				<button ng-click="addDashboard(); hideNewDash = !hideNewDash">Add</button>
			</div>
			<div class="dashboard" ng-repeat="dashboard in dashboards">
				<div>
					<h3 title="click to rename" ng-click="hideName = !hideName" ng-hide="hideName">{{dashboard.dash_name}}</h3>
					<input class="dash_name" ng-hide="!hideName" type="text" ng-model="dashboard.dash_name">
					<button ng-hide="!hideName" ng-click="hideName = !hideName" ng-init="hideName = false">OK</button>
					<button title="delete dashboard" class="removebutton" confirmed-click="removeDash(dashboard.id)" confirm-click="dashboard.dash_name">remove</button>
				</div>
				<ul>
					<li class="user" ng-repeat="user in users | indash:dashboard.id">
						<span ng-class="user.not_found | notFoundClass">{{user.username | shortenToChars:20}}</span>
						<div class="user_dash_edit">
							<span class="span_link" ng-click="hide = !hide" ng-init="hide = true">types</span>
							<button title="remove user from dashboard" class="removebutton" ng-click="removeUserFromDash(user.username, dashboard.id)">remove</button>
						</div>
						<span ng-hide="hide" ng-repeat="dash in user.dashes | filter:{dash:dashboard.id}">
							<ul>
								<li ng-repeat="type in dash.types">
									<input type="checkbox" ng-class="$index | typeToString" ng-model="dash.types[$index]"> {{$index | typeToString}}
								</li>
							</ul>
						</span>
					</li>
					<li class="user">
						<span class="span_link" ng-click="hideNewUser = !hideNewUser" ng-init="hideNewUser = true" ng-hide="!hideNewUser">+Add</span>
						<span ng-hide="hideNewUser">
							<input type="text" ng-model="newUser">
							<button ng-click="addUserToDash(dashboard.id, newUser); hideNewUser = !hideNewUser; newUser = ''">add</button>
						</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer"><p>&#169; 2013, Ingvaras Merkys. <a href="http://purrification.tumblr.com">Purrification blog</a>.</p></div>
	</body>
</html>