body {
	font-family: Ubuntu, 'Droid Sans', Arial, sans-serif;
	font-size: 75%;
}

/* dashboards */
div.dashboards {
	display: inline-block;
	background: #DCDCDC;
	padding: 6px;
	margin: 6px;
}
div.dashboard {
	float: left;
	width: 250px;
}
div.dashboard ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.dashboard li {
	width: 200px;
	background: white;
}
div.user_dash_edit {
	float: right;
}

/* users */
div.users {
	width: 300px;
	padding: 6px;
	margin: 6px;
	float: left;
	background: #D3D3D3;
}
div.users ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}
div.users li {
	width: 270px;
	background: white;
}
div.user_edit {
	float: right;
}


span.type {
	width: 100%;
	height: 25px;
	display: inline-block;
}
span.not_found {
	color: red;
}
span.span_link {
	cursor: pointer;
    color: blue;
}
span.span_link:hover {
}
.all {
	background: #FFFFFF
}                
.text {
	background: url('../../imgs/types/text_bg.png') right center no-repeat, -webkit-linear-gradient(top, #eee, #fff);
}
.photo {
	background: url('../../imgs/types/photo_bg.png') right center no-repeat, -webkit-linear-gradient(top, #fff2f2, #fff);
}
.quote {
	background: url('../../imgs/types/quote_bg.png') right center no-repeat, -webkit-linear-gradient(top, #ffebd1, #fff);
}
.link {
	background: url('../../imgs/types/link_bg.png') right center no-repeat, -webkit-linear-gradient(top, #d7ffeb, #fff);
}
.chat {
	background: url('../../imgs/types/chat_bg.png') right center no-repeat, -webkit-linear-gradient(top, #d7ffeb, #fff);
}
.audio {
	background: url('../../imgs/types/audio_bg.png') right center no-repeat, -webkit-linear-gradient(top, #d7ffeb, #fff);
}
.video {
	background: url('../../imgs/types/video_bg.png') right center no-repeat, -webkit-linear-gradient(top, #d7ffeb, #fff);
}
.answer {
	background: url('../../imgs/types/answer_bg.png') right center no-repeat, -webkit-linear-gradient(top, #d7ffeb, #fff);
}




.removebutton {
	background: transparent url('../../imgs/remove_button.png') no-repeat center top;
	text-indent: -1000em;
	margin: 0;
	padding: 0;
	border: 0;
	width: 18px;
	height: 20px;
}
.removebutton_small {
	background: transparent url('../../imgs/remove_button_small.png') no-repeat center top;
	text-indent: -1000em;
	margin: 2px 40px 0 0;
	padding: 0;
	border: 0;
	width: 12px;
	height: 13px;
	float: right;
}
li.user {
	display: inline-block;
	padding: 3px;
	margin: 2px;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.7);
	width: 190px;
}
label.blocklabel {
	width: 45px;
	height: 16px;
	display: inline-block;
}
h3 {
	display: inline-block;
}
h2 {
	margin-top: 0;
}
div.find_box {
	margin: 5px;
}
div.find_box input {
	width: 242px;
}
input {
	height: 16px;
}
input.dash_name {
	margin-top: 12px;
	margin-bottom: 12px;
}
div.footer {
	position: absolute;
	bottom: 0;
	width:100%;
	margin-left: -8px;
	margin-right: -8px;
}
div.footer p {
	text-align: center;
}