li.post_container {
    display: none;
}
li.notification {
	display: none;
}
a#cool_icon {
    background-image: url('chrome-extension://__MSG_@@extension_id__/imgs/cool.png')!important;
    background-repeat: no-repeat;
    background-position: 0px 0!important;
}
#purr_submenu {
    -webkit-background-clip: padding-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-box-shadow: rgba(255, 255, 255, 0.368627) 0px 1px 0px 0px inset;
    background-attachment: scroll;
    background-clip: padding-box;
    background-color: rgb(198, 68, 68);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: rgba(255, 255, 255, 0.368627) 0px 1px 0px 0px inset;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 18px;
    left: 34px;
    letter-spacing: normal;
    line-height: 13px;
    min-width: 18px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    position: absolute;
    right: auto;
    text-align: center;
    text-indent: 0px;
    top: -11px;
    white-space: nowrap;
    word-spacing: 0px;
}

#purr_submenu ul {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#purr_submenu ul li {
    display: inline;
    padding: 0 7px 0 0;
}

#purr_submenu ul li a {
    color: white;
    text-decoration: none;
}

#loading_text {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    height: 10;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}
.knife {
	position: fixed;
	top: 70000px;
}
